
.pump-label {
  align-content: center;
  display: block;
  text-align: center;
}

.pump-component {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: auto;
}

.pump-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 100px;
  width: 100%;
}

.Stopped {
  fill:#d9d9d9;
  fill-opacity:1;
  stroke:#bfbfbf;
  stroke-dasharray:none;
  stroke-opacity:1;
  stroke-width:1.032;
}

.Running {
  fill:green;
  fill-opacity:1;
  stroke:#bfbfbf;
  stroke-dasharray:none;
  stroke-opacity:1;
  stroke-width:1.032;
}

.Failed {
  fill:red;
  fill-opacity:1;
  stroke:#bfbfbf;
  stroke-dasharray:none;
  stroke-opacity:1;
  stroke-width:1.032;
  animation: blinkingBackground 1s infinite;
}

@keyframes blinkingBackground{
  0%		{ fill: red}
  100%	{ fill: #bfbfbf;}
}

.OOS {
  fill:#d9d9d9;
  fill-opacity:1;
  stroke:yellow;
  stroke-dasharray:none;
  stroke-opacity:1;
  stroke-width:1.032;
}