.pump-component {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  > * {
    flex: 1 100%;
  }

  .pump-centrifugal { 
    fill:#d9d9d9;
    fill-opacity:1;
    stroke:#bfbfbf;
    stroke-dasharray:none;
    stroke-opacity:1;
    stroke-width:1.032;
  }
}
